# Minimum Pinyin Length
# MinimumPinyinLength=4
# Backend
{{ if eq .fcitx5.cloudpinyin_backend "GoogleCN" }}# {{ end }}Backend={{ .fcitx5.cloudpinyin_backend }}
# Proxy
# Proxy=

# [Toggle Key]
# 0=Control+Alt+Shift+C

