{{- $imMap := dict "english" "keyboard-us" "russian" "keyboard-ru" "ukrainian" "keyboard-ua" "chinese" "pinyin" -}}
{{- $items := list -}}
{{- range .languages -}}
{{-   $im := get $imMap . -}}
{{-   if $im -}}{{- $items = append $items $im -}}{{- end -}}
{{- end -}}
[Groups/0]
# Group Name
Name=Default
# Layout
Default Layout=us
# Default Input Method
DefaultIM={{ first $items }}

{{ range $i, $im := $items -}}
[Groups/0/Items/{{ $i }}]
# Name
Name={{ $im }}
# Layout
Layout=

{{ end -}}
[GroupOrder]
0=Default
