{{- $codes := fromJson (includeTemplate "language-codes" .) -}}
{{- $items := list -}}
{{- range .locale.languages -}}
{{-   $c := get $codes . -}}
{{-   if $c -}}{{- $items = append $items (get $c "fcitx5") -}}{{- end -}}
{{- end -}}
[Groups/0]
# Group Name
Name=Default
# Layout
Default Layout=us
# Default Input Method
DefaultIM={{ first $items }}

{{ range $i, $im := $items -}}
[Groups/0/Items/{{ $i }}]
# Name
Name={{ $im }}
# Layout
Layout=

{{ end -}}
[GroupOrder]
0=Default
