# Minimum Pinyin Length
# MinimumPinyinLength=4
# Backend
{{ "# " if features.fcitx5.cloudpinyin_backend == "GoogleCN" else "" }}Backend={{ features.fcitx5.cloudpinyin_backend }}
# Proxy
# Proxy=

# [Toggle Key]
# 0=Control+Alt+Shift+C

